---
import Letter from '../icons/letter.svg'
---
<a href="/#FormZone">
  <button
    type="submit"
    class="flex flex-row items-center gap-4 bg-indigo-500 text-gray-100 text-xl tracking-wider font-semibold px-6 py-5 rounded-lg hover:bg-indigo-600 transition-all duration-300"
  >
    <span>
      <Letter class="size-9 text-red-500 " />
    </span>
   PUES ES POR AQUÍ...
  </button>
</a>