---
import { clients } from "../data/clients";
---
<section id="Authority" class="mb-10">
  <div>
    <!-- <h1 class="text-lg tracking-widest text-center font-extrabold text-gray-600">Me has visto en:</h1> -->
    <div class="flex flex-wrap justify-center gap-x-10 gap-y-5 max-w-4xl mx-auto mt-10">
      {clients.map((client) => (
        <img 
          src={client.logo} 
          alt={client.name}
          loading="lazy"
          class={`object-contain w-[130px] lg:w-[180px] 2xl:w[200px] max-w-[50%] pt-2 ${
            !client.isWhite ? 'invert brightness-90': ''}`}
        />
      ))}
    </div>
  </div>
</section>