<section>
  <h1 class="font-medium text-4xl text-center mt-32 tracking-wide">Dicho esto, <span class="font-extrabold">vamos al turrón</span> 😜</h1>
  <article class="flex flex-col gap-6 prose prose-invert prose-lg mx-auto max-w-xl pt-20 text-lg px-6">
    <p>No te voy a vender la burra, ni el copywriting lo es todo para tener éxito, ni son 4 frases bien escritas por tu sobrino el que estudia periodismo. </p>
    <p>Sorry not sorry. </p>
    <p>Tampoco es magia, simplemente <span class="text-indigo-500 font-bold">saber estar atenta a los detalles y conocer muy bien a quién le vendes y para qué</span>.</p>
    <p>Bueno, vale... sí es magia, pero sólo porque creo que la magia es todo aquello que la ciencia no ha podido explicar todavía. </p>
    <p>O también podría ser eso que hacemos los neurodivergentes cuando reconocemos patrones y conductas y lo unimos todo. </p>
    <p>O desde mi lado hierbas podría ser que <span class="text-indigo-500 font-bold">canalizo las palabras.</span> </p>
    <p>En cualquier caso, lo que sí tengo clarísimo, es que los toros desde la barrera se ven mucho más fáciles. Por eso sé que cuando entro a algún proyecto me resulta muy fácil <span class="text-indigo-500 font-bold">conectar los puntos, buscar la coherencia y ofrecer claridad a mis clientes.</span> </p>
    <p>Te cuento un secreto: como buena andaluza exagerada te diré que...</p>
    <p class="text-center text-xl w-[300px] lg:w-[500px] m-auto font-medium"><span class="text-indigo-500 font-bold">el 99% de las ocasiones</span> no se trata de que lo que dices está mal</p>
    <p class="text-center text-xl italic w-[300px] lg:w-[500px] m-auto font-bold">Si no que lo dices de una forma aburrida, demasiado técnica, o que no conecta con las personas adecuadas, entre otras cosas. </p>
    <p>Si quieres divertirte y aprender algo por el camino al mismo tiempo, <span class="italic">yatusabe</span>, apúntate a mi newsletter folclórica.</p>
  </article>
</section>
