---
import Alert from '../icons/alert.svg'; 
---
<section class="w-full flex justify-center shadow-lg p-8 py-12 bg-gray-900">
  <div class="flex flex-col lg:flex-row items-center text-gray-300">
    <div>
      <!-- <Alert class='size-15' /> -->
       <img 
        src="/images/Red-Alert.png" 
        alt=""
        class="w-[300px] lg:w-[420px] -rotate-12"
      >
    </div>
    <div class="bg-gray-800 shadow-lg p-8 rounded-xl w-[330px] lg:w-[700px] lg:max-w-[900px] flex flex-col gap-4 text-pretty">
      <p>Antes que nada te digo que, además de compartir contigo mis emails folclóricos, también te voy a vender cosas abiertamente, que una tiene la mala costumbre de comer todos los días.</p>
      <h1 class="text-center text-xl font-black text-indigo-500 pt-5 pb-5">¿Qué te voy a vender?</h1>
      <p>Mis servicios de <span class="text-gray-100 font-bold">copy para lanzamientos de infoproductos y mis futuras formaciones</span> para que descubras cómo vender lo tuyo desde la coherencia espiritual. </p>
      <p><span class="italic text-gray-100">(buah, estoy preparando una que me tiene emocionada)</span>.</p>
      <p>Puedes entrar para <span class="text-gray-100 font-bold">aprender y divertirte</span> y no comprar nada, of course.</p>
      <p>Pero no podía menos que ser honesta y coherente para que no te pille por sorpresa.</p>
    </div>
  </div>
  
</section>